<div class="wrapper">
  <div class="left">
    <label for="Title">Title</label>
    <input
      [value]="
        bookService.bookSelected ? bookService.bookSelectedItem.title : ''
      "
      type="text"
      id="Title"
      class="form-control"
      #titleInput
    />
    <label for="Cover">Cover</label>
    <input
      type="file"
      id="Cover"
      accept=".png, .jpg, .jpeg"
      class="form-control"

      #coverInput
    />
    <label for="Genre">Genre</label>
    <input
      [value]="
        bookService.bookSelected ? bookService.bookSelectedItem.genre : ''
      "
      type="text"
      id="Genre"
      class="form-control"
      #genreInput
    />
    <label for="Author">Author</label>
    <input
      [value]="
        bookService.bookSelected ? bookService.bookSelectedItem.author : ''
      "
      type="text"
      id="Author"
      class="form-control"
      #authorInput
    />
  </div>

  <div class="right">
    <label for="Content">Content</label>
    <input
      [value]="
        bookService.bookSelected ? bookService.bookSelectedItem.content : ''
      "
      type="text"
      id="Content"
      class="form-control content"
      #contentInput
    />
  </div>
</div>
<div class="buttons">
  <button
    [innerText]="bookService.bookSelected ? 'Edit' : 'Add'"
    type="submit"
    (click)="
      bookService.bookSelected
        ? onUpdate(
            titleInput.value,
            coverInput.value,
            genreInput.value,
            authorInput.value,
            contentInput.value
          )
        : onSubmit(
            titleInput.value,
            coverInput.value,
            genreInput.value,
            authorInput.value,
            contentInput.value
          )
    "
  ></button>
  <button
    type="button"
    (click)="
      titleInput.value = '';
      coverInput.value = '';
      genreInput.value = '';
      authorInput.value = '';
      contentInput.value = ''
    "
  >
    Clean
  </button>
</div>
